In [21]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 

df=pd.read_csv("GAFA Stock Prices.csv")
df = df[np.isfinite(df['Close'])]
df_1=df[df.Stock=="Amazon"]
df_1.head()

,Stock,Date,Open,High,Low,Close,Adj Close,Volume
14352,Amazon,15/05/1997,2.437500,2.500000,1.927083,1.958333,1.958333,72156000.0
14353,Amazon,16/05/1997,1.968750,1.979167,1.708333,1.729167,1.729167,14700000.0
14354,Amazon,19/05/1997,1.760417,1.770833,1.625000,1.708333,1.708333,6106800.0
14355,Amazon,20/05/1997,1.729167,1.750000,1.635417,1.635417,1.635417,5467200.0
14356,Amazon,21/05/1997,1.635417,1.645833,1.375000,1.427083,1.427083,18853200.0

In [22]:
fc=['Open','High','Low']
XX=df_1[fc]
YY=df_1['Close']

In [23]:
X_train, X_test, y_train, y_test = train_test_split(XX,YY, test_size=0, random_state=103)

In [24]:
clf = LinearRegression(fit_intercept=True,normalize=False,n_jobs =None)
clf.fit(X_train,y_train)
filex=open("AmLR.pkl","wb")
pickle.dump(clf,filex)
y_pred = clf.predict([[2.437500,2.500000,1.927083]])
print(y_pred)
filex.close()

[1.92952291]