In [9]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 

df=pd.read_csv("GAFA Stock Prices.csv")
df = df[np.isfinite(df['Close'])]
df_1=df[df.Stock=="Google"]
df_1.head()

,Stock,Date,Open,High,Low,Close,Adj Close,Volume
0,Google,19/08/2004,49.676899,51.693783,47.669952,49.845802,49.845802,44994500.0
1,Google,20/08/2004,50.178635,54.187561,49.925285,53.805050,53.805050,23005800.0
2,Google,23/08/2004,55.017166,56.373344,54.172661,54.346527,54.346527,18393200.0
3,Google,24/08/2004,55.260582,55.439419,51.450363,52.096165,52.096165,15361800.0
4,Google,25/08/2004,52.140873,53.651051,51.604362,52.657513,52.657513,9257400.0

In [10]:
fc=['Open','High','Low']
XX=df_1[fc]
YY=df_1['Close']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(XX,YY, test_size=0, random_state=103)

In [12]:
clf = LinearRegression(fit_intercept=True,normalize=False,n_jobs =None)
clf.fit(X_train,y_train)
filex=open("GoLR.pkl","wb")
pickle.dump(clf,filex)
y_pred = clf.predict([[2.437500,2.500000,1.927083]])
print(y_pred)
filex.close()

[2.05294028]